.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.title-group {
  display: flex;
  margin-left: 15%;
}

.exit-button {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 7rem;
}
.exit-button:hover {
  opacity: 0.8;
  background-color: rgb(109, 109, 255);
}
.material-icons {
  margin-right: 1rem;
  margin-left: 1rem;
}
