<mat-card class="mat-elevation-z4">
  <mat-card-title class="title">{{id ? 'Editar cadastro de funcionário.' : 'Cadastrar novo funcionário.'}}</mat-card-title>
  <div class="card">
    <form class="needs_validation form-control" novalidate [formGroup]="form">
      <div class="name-email">
        <mat-form-field>
          <input
            matInput
            class="form-control"
            placeholder="Nome"
            type="text"
            name="name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': form.get('name').invalid && hasError('name')
            }"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            class="form-control"
            placeholder="e-mail"
            type="email"
            name="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': form.get('email').invalid && hasError('email')
            }"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            class="form-control"
            placeholder="CPF"
            type="number"
            maxlength="11"
            name="cpf"
            formControlName="cpf"
            [ngClass]="{
              'is-invalid': form.get('cpf').invalid && hasError('cpf')
            }"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data da contratação</mat-label>
          <input
            matInput
            class="form-control"
            [matDatepicker]="picker"
            name="hiredAt"
            formControlName="hiredAt"
            [ngClass]="{
              'is-invalid': form.get('hiredAt').invalid && hasError('hiredAt')
            }"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="img-container">
        <div class="img isActive">
          <mat-slide-toggle
            color="primary"
            name="isActive"
            formControlName="isActive"
            id="isActive"
          >
            {{ form.value.isActive ? "Ativo" : "Inativo" }}
          </mat-slide-toggle>

        <!-- <mat-form-field>
          <ngx-mat-file-input formControlName="basicfile" placeholder="Basic Input" ></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field> -->
        </div>

      
      </div>

      <!-- ENDEREÇO-->
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="CEP"
          type="number"
          maxlength="8"
          name="cep"
          formControlName="cep"
          [ngClass]="{
            'is-invalid': form.get('cep').invalid && hasError('cep')
          }"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="Logradouro"
          type="text"
          name="street"
          formControlName="street"
          [ngClass]="{
            'is-invalid': form.get('street').invalid && hasError('street')
          }"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="Número"
          type="number"
          name="number"
          formControlName="number"
          [ngClass]="{
            'is-invalid': form.get('number').invalid && hasError('number')
          }"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="Bairro"
          type="text"
          name="district"
          formControlName="district"
          [ngClass]="{
            'is-invalid': form.get('district').invalid && hasError('district')
          }"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="Cidade"
          type="text"
          name="city"
          formControlName="city"
          [ngClass]="{
            'is-invalid': form.get('city').invalid && hasError('city')
          }"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="form-control"
          placeholder="Estado (UF)"
          type="text"
          maxlength="2"
          name="state"
          formControlName="state"
          [ngClass]="{
            'is-invalid': form.get('state').invalid && hasError('state')
          }"
          required
        />
      </mat-form-field>
    </form>
  </div>
</mat-card>

<!--BUTTONS-->
<div class="buttons">
  <div class="save-button">
    <button mat-fab color="primary" aria-label="Salvar" (click)="onSubmit()">
      <i class="material-icons">save</i>
    </button>
  </div>
  <div class="cancel-button">
    <button mat-fab color="warn" aria-label="Cancelar" (click)="cancel()">
      <i class="material-icons">cancel</i>
    </button>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal-overlay"
  [ngClass]="{
    active: modalToggle
  }"
>
  <div class="modal">
    <h2 class="modal-content">Confirmar exclusão</h2>
    <span>Tem certeza que deseja excluir o cadastro do funcionário?</span>
    <div class="delete-buttons">
      <button mat-raised-button (click)="deleteCancel()">Cancelar</button>
      <button mat-raised-button color="warn" (click)="deleteConfirm(id)">
        Confirmar
      </button>
    </div>
  </div>
</div>
