.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container {
  width: 30%;
  margin: auto;
  padding: 1rem;
  border-radius: 3px;
  background: linear-gradient(145deg, #e4e4e4, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-top: 15%;
}

button {
  background-color: #00218b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


