<mat-toolbar class="footer">
  <p>
    <a href="http://github.com/lipesalomao" target="_blank">
      <img src="https://img.icons8.com/ios-filled/30/000000/github.png" />
    </a>
    <a href="https://www.linkedin.com/in/lipesalomao/" target="_blank">
      <img src="https://img.icons8.com/ios-filled/30/000000/linkedin.png" />
    </a>
    <a href="http://facebook.com/lipe.salomao" target="_blank">
      <img src="https://img.icons8.com/material/50/000000/facebook-new.png" />
    </a>
    <a href="http://instagram.com/lipe.salomao" target="_blank">
      <img
        src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"
      />
    </a>
  </p>
</mat-toolbar>
